@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

}

ul {
    list-style: none;
    display: flex;
    gap: 3em;
    font-family: sans-serif;
    float: right;
    right: 5em;
    padding-right: 2.5em;
}

li {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 20;
}

header.stuck {
    background-color: #252830;
}


header a:hover {
    color: rgb(19, 137, 233);

}

/* header a:active{
    transition: 0.7s ease;
} */

.logo {
    height: 1.5em;
    width: 6em;
    position: relative;
    left: 2em;
}

ul li a {
    text-decoration: white;
    color: white;
}

.hamburger {
    display: none;
}


.firstscreen {
    background-image: url("assignment/restaurant.jpg");
    background-position: -18em;
    display: flex;
    width: 100%;
    height: 70em;
    z-index: 2;
    position: absolute;
}

.Because {
    position: absolute;
    font-size: 4em;
    color: white;
    font-family: Roboto;
    padding-left: 0.9em;
    padding-top: 1.6em;
}

.youre h1 {
    font-size: 6em;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    padding-left: 0.7em;
    padding-top: 2.0em;
}

.worthit h1 {
    position: absolute;
    font-size: 6em;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    /* padding-top: 3.2em; */
    left: 0.7em;
}

.youreworthit {
    /* display: none; */
    visibility: hidden;

}

.stickers {
    position: absolute;
    padding-top: 42em;
    left: 6em;
}

.stickerflex {
    position: absolute;
    display: flex;
    gap: 1.5em;
}


.sticker1,
.sticker2,
.sticker3,
.sticker4 {
    gap: 0.4em;
    background-color: white;
    height: 21em;
    width: 16em;
}

.sticker1pic,
.sticker2pic,
.sticker3pic,
.sticker4pic {
    width: 16em;
    height: 11em;
    position: relative;
    padding: 0.3em;
    margin-top: 0em;
}

.sticker1 p,
.sticker2 p,
.sticker3 p,
.sticker4 p {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    top: 1.3em
}

.sticker1 h1,
.sticker2 h1,
.sticker3 h1,
.sticker4 h1 {
    position: relative;
    left: 4em;
    font-family: sans-serif;
    font-size: 1.2em;
    top: 1.2em
}

.stickerprice {
    display: none;
}

.secondscreen {
    display: flex;
    justify-content: center;
    background-image: url('/assignment/pattern.png');
    /* background-size: cover; */
    /* background-color: #FFFBF3; */
    width: 100%;
    height: 50em;
    z-index: 3;
    position: relative;
    top: 68em;
}

.page1 {
    display: flex;
    flex-direction: column;

}

.discover {
    object-position: center;
    font-size: 3em;
    color: black;
    font-weight: lighter;
    font-family: Roboto;
    top: 20%;
    position: absolute;
}

.discoverpic {
    width: 75%;
    height: 35%;
    position: relative;
    object-position: center;
    top: 65%;
    /* bottom: 0; */
}

.shortstory {
    object-position: center;
    word-wrap: break-word;
    font-size: 1em;
    height: 20em;
    width: 30em;
    color: black;
    font-weight: lighter;
    font-family: sans-serif;
    position: absolute;
    top: 35%;
    text-align: center;
}

.thirdscreen {
    background-image: url("assignment/checked_menu.jpg");
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 40em;
    z-index: -5;
    position: fixed;
    overflow-x: hidden;
}

.fourthscreen {
    display: flex;
    opacity: 100%;
    width: 100%;
    height: 40em;
    z-index: 4;
    position: relative;
    top: 80em;
}

.what {
    color: white;
    font-size: 4em;
    position: relative;
    font-family: 'Roboto';
    left: 0.5em;
}

.enjoy {
    color: white;
    font-size: 4.5em;
    position: absolute;
    font-family: Arial Thin;
    left: 0.5em;
    top: 1em;
}

.note {
    color: white;
    font-size: 1em;
    position: absolute;
    font-family: Arial Thin;
    top: 16em;
    left: 2.8em;
}

.button4 {
    background-color: rgb(221, 173, 82);
    color: white;
    font-size: 1em;
    height: 4.5em;
    width: 13em;
    border-radius: 0.5em;
    position: absolute;
    top: 22em;
    left: 2.8em;
}

.button4:hover {
    cursor: pointer;
}

.menuitems {
    /* display: none; */
    /* background-color: burlywood; */
    background-image: url("/assignment/checked_menu.jpg");
    /* align-items: center;
    align-content: center; */
    width: 35%;
    height: 75%;
    position: relative;
    float: right;
    left: 23em;
    bottom: 3em;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgb(44, 27, 10);
    opacity: 1;
    transition: opacity 0.75s ease-in-out;

}

/* .menuitems.show{
    display: block;
    animation: fadeIn 1.5s;
    transition: ease-in-out 3s;
    
   } */

.menuitems.fade {
    opacity: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.menu2 {
    position: relative;
    align-self: center;
    object-position: center;
    /* background-color: burlywood; */
    background-color: #FFFBF3;
    opacity: 60%;
    height: 90%;
    width: 90%;
    left: 5%;
    top: 5%;
    padding-top: 1em;
    border-radius: 10px;
}

.menu2 h1,
.menu2 h2,
.menu2 p {
    text-align: center;
    align-self: center;
    font-family: sans-serif;
    color: black;
}

.menu2 h2 {
    font-size: 1em;
}

.menupic {
    position: relative;
    width: 40%;
    height: 25%;
    float: right;
    bottom: 2em;
    left: 3em;

}

.fifthscreen {
    display: flex;
    object-position: center;
    background-image: url('/assignment/pattern.png');
    /* background-color: #FFFBF3; */
    width: 100%;
    height: 70em;
    top: 70em;
    z-index: 5;
    position: relative;

}

.tips {
    align-self: center;
    top: 10em;
    position: absolute;
    width: 100%;
}

.tiprow1 {
    display: flex;
    justify-content: space-evenly;
    height: 25em;
    width: 100%;
    gap: 8em;
}

.fifthscreen .tip1,
.tip2,
.tip3,
.tip4,
.tip5,
.tip6 {
    justify-content: center;
    text-align: center;
    gap: 1em;
    width: 15em;
}

.tip1img,
.tip2img,
.tip3img,
.tip4img,
.tip5img,
.tip6img {
    height: 8em;
    width: 12em;
    position: relative;
    object-position: center;
}

.fifthscreen p,
.tiphead {
    font-family: Roboto;
    color: black;
    padding-top: 0.6em;
}

.fifthscreen p {
    font-family: sans-serif;
    word-wrap: break-word;
    padding-top: 0.6em;
}

.tiphead {
    font-family: Roboto;
    font-size: 2em;
}

.tiprow2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 8em;
}


.sixthscreen {
    background-image: url("assignment/bg21.jpg");
    background-position: center;
    background-size: 100%;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40em;
    z-index: 6;
    position: relative;
    top: 60em;
}

.checked {
    color: gold;
}

.rating {
    display: flex;
    justify-content: center;
    font-size: 2em;
    width: 100%;
    text-align: center;
    top: 5em;
    gap: 0.5em;
    position: absolute;
}

.review {
    font-size: 1.5em;
    color: white;
    font-family: sans-serif;
    word-wrap: break-word;
    text-align: center;
    margin: 3em;
    top: 2em;
}

.username {
    font-size: 0.7em;
    color: white;
    font-family: sans-serif;
    text-align: center;
    top: 12em;
}

.seventhscreen {
    background-image: url("assignment/bg5.jpg");
    height: 30em;
    width: 100%;
    z-index: 7;
    top: 60em;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.seventhscreen p,
h1 {
    font-family: 'Roboto';
    color: black;

}

.seventhscreen p {
    font-size: 6em;
}

.seventhscreen h1 {
    font-size: 1em;
}

.seventhscreen i {
    color: grey;
    font-size: 3em;
}

.dishes,
.drinks,
.clients,
.likes {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5em;
    height: 10em;
    top: 10em;
    position: relative;
}

.eigthscreen {
    background-image: url("assignment/bg36.jpg");
    height: 50em;
    width: 100%;
    z-index: 8;
    top: 60em;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 8em;
}

.bookatable {
    color: white;
    font-size: 3em;
    position: relative;
    font-family: sans-serif;
    margin-bottom: 1em;
}

input[type=text],
textarea {
    /* width: 50%; */
    resize: none;
    background-color: none;
    opacity: 99%;
    position: relative;
    width: 100%;
    border-color: grey;
    border-width: 0.1em;
    border-left: transparent;
    border-right: transparent;

}

input[type=text] {
    background-color: transparent;
    height: 6em;
}

textarea {
    background-color: transparent;
    height: 10em;
    font-family: sans-serif;
}


.book {
    background-color: #FDB763;
    color: white;
    padding: 0.7em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    height: 3em;
    width: 100%;
    top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

.book a {
    color: white;
    text-decoration: none;
}

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-position: center;
    width: 45%;
    margin-left: 3em;
    position: relative;
}

form {
    position: relative;
    top: 2em;
    width: 100%;
}

.contact {
    width: 35%;
    position: relative;
    margin-right: 3em;
}

.contactbrief {
    color: white;
    font-family: sans-serif;
    top: 22em;
    word-wrap: break-word;
    font-size: 1em;
    position: relative;
}

footer {
    justify-content: space-evenly;
    position: relative;
    background-color: #252830;
    height: 15em;
    width: 100%;
    top: 60em;
    z-index: 9;
}

.copyright {
    font-family: sans-serif;
    color: white;
    position: relative;
    top: 6.5em;
    margin-left: 1em;
}

.smicons {
    position: relative;
    gap: 0.7em;
    float: right;
    margin-right: 3em;
    top: 3.5em;
}

.smicons a {
    padding: 0.2em;
    color: lightgray;
    text-decoration: none;
    font-size: 2em;
}

.multilogo {
    width: 30em;
    display: flex;
    position: relative;
    word-wrap: none;
}

.contactus li p {
    color: white;
    margin-left: 1em;
    font-family: 'Roboto';
}

.contactus li {
    display: flex;
    flex-direction: row;
    position: relative;

}

.contactus li i {
    color: grey;
}

.contactus ul {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25em;
    float: left;
    left: 0.5em;
}


@media only screen and (max-width: 280px) {

    header {
        padding: 2em;
        width: 100%;
        height: 12em;
        z-index: 20;
        /* background-color: #252830; */
        overflow-x: hidden;
        align-items: center;
    }

    header a:hover {
        color: rgb(19, 137, 233);
    }

    .logo {
        height: 6em;
        width: 25em;
        position: relative;
        /* left: 2em; */
        float: left;
    }

    .bar {
        display: block;
        width: 4em;
        height: 0.5em;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(19, 137, 233);

    }

    ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #252830;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    ul.active {
        left: 0;
        top: 10em;
    }

    ul li {
        /* margin: 2.5rem 0; */
        margin: 2em;
        font-size: 3em;
    }

    .hamburger {
        /* position: relative; */
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .thirdscreen {
        background-image: url("assignment/checked_menu.jpg");
        background-size: cover;
        /* background-position-x: center;
        /* background-position-y: center; */
        width: 100%;
        height: 100%;
        z-index: -5;
        position: fixed;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    .firstscreen {
        background-image: url("assignment/restaurant.jpg");
        background-position: center;
        /* background-position-y: 10em; */
        background-size: cover;
        position: relative;
        /* display: flex;
        flex-direction: column; */
        width: 70em;
        height: 420em;
        z-index: 2;
        /* position: absolute; */
    }

    .page1 {
        display: flex;
        /* flex-direction: column;   */
    }

    .stickerflex {
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        gap: 10em;
        padding-top: 50em;
    }

    .slogan {
        /* position: relative; */
        width: 100%;
        padding-top: 40em;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50em;

    }

    .Because,
    .youre h1,
    .worthit h1 {
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        font-size: 10em;
    }

    .sticker1,
    .sticker2,
    .sticker3,
    .sticker4 {
        height: 70em;
        width: 60em;
        padding: 2.5%;

    }

    .sticker1pic,
    .sticker2pic,
    .sticker3pic,
    .sticker4pic {
        width: 100%;
        height: 60%;
        position: relative;
        padding: 0.3em;
        margin-top: 0em;

    }

    .sticker1 p,
    .sticker2 p,
    .sticker3 p,
    .sticker4 p {
        font-size: 4em;
        padding-top: 1em;
        font-style: 'Roboto';
    }

    .sticker1 h1,
    .sticker2 h1,
    .sticker3 h1,
    .sticker4 h1 {
        left: 0;
        font-size: 4em;
        padding-top: 0.5em;
        text-align: center;
    }

    .secondscreen {
        top: -2em;
        width: 70em;
        height: 100em;

    }

    .discover {
        font-size: 8em;
        position: absolute;
    }

    .discoverpic {
        width: 75%;
        height: 15%;
        position: relative;
        object-position: center;
        top: 85%;
    }

    .shortstory {
        object-position: center;
        word-wrap: break-word;
        font-size: 4em;
        height: 40%;
        width: 90%;
        font-family: 'Roboto';
        padding-top: 10%;
    }

    .fourthscreen {
        width: 70em;
        height: 180em;
        top: 0;
        align-content: center;
        flex-direction: column;
        gap: 2em;
        /* object-position: center;
        justify-content: center; */
    }

    .what,
    .enjoy,
    .note,
    .button4 {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        word-wrap: break-word;
        align-items: center;

    }

    .what {
        text-align: center;
        padding-top: 1.5em;
        font-size: 11em;
    }

    .enjoy {
        font-size: 10em;
    }

    .note {
        font-size: 3em;
        padding-top: 4.5em;
    }

    .button4 {
        font-size: 4em;
        align-self: center;
        top: 3em;
        width: 600px;
        height: 300px;
        font-family: 'Roboto';
    }


    .menuitems {

        /* background-image: url("/assignment/checked_menu.jpg");
    */
        width: 90%;
        height: 150em;
        position: relative;
        align-self: center;
        float: right;
        left: 0em;
        top: 15em;
        bottom: 0em;
        border-radius: 10px;
        box-shadow: 15px 15px 15px rgb(44, 27, 10);
        opacity: 1;
        transition: opacity 0.75s ease-in-out;

    }


    .menuitems.fade {
        opacity: 0;
    }

    .fourthscreen.shrink {
        height: 100em;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .menu2 h1,
    .menu2 h2,
    .menu2 p {
        text-align: center;
        align-self: center;
        font-family: sans-serif;
        color: black;
        font-size: 3em;
    }

    .menu2 h2 {
        font-size: 3em;
    }

    .menu2 h1 {
        font-size: 4em;
        padding-bottom: 1em;
    }

    .menupic {
        position: relative;
        width: 50%;
        height: 25%;
        float: right;
        bottom: 5em;
        left: 3em;

    }



    .fifthscreen {
        /* display: flex;
        object-position: center;
        background-color: #FFFBF3; */
        flex-direction: column;
        width: 70em;
        height: 420em;
        top: 25em;
        z-index: 5;
        align-content: center;
        /* align-items: center; */
        justify-content: center;

        /* position: relative; */

    }

    .tiprow1,
    .tiprow2 {
        /* display: flex;
        justify-content: space-evenly; */
        flex-direction: column;
        /* align-self: center; */
        position: relative;
        height: 60em;
        width: 70em;
        gap: 10em;
    }

    .tiprow2 {
        padding-top: 160em;
    }

    .tips {
        top: 0;
        align-self: center;
        align-items: center;
        position: relative;
        object-position: center;
        width: 100%;
        /* display: block; */
        left: 20%;
    }

    .fifthscreen .tip1,
    .tip2,
    .tip3,
    .tip4,
    .tip5,
    .tip6 {
        /* justify-content: center;
        text-align: center;
        gap: 1em; */
        position: relative;
        width: 60%;
    }

    .fifthscreen p {
        font-family: sans-serif;
        word-wrap: break-word;
        padding-top: 0.6em;
        font-size: 4em;
    }

    .tiphead {
        font-family: Roboto;
        font-size: 6em;
    }

    .tip1img,
    .tip2img,
    .tip3img,
    .tip4img,
    .tip5img,
    .tip6img {
        height: 15em;
        width: 30em;
    }


    .sixthscreen {
        background-size: cover;
        width: 70em;
        height: 120em;
        /* z-index: 6;
            position: relative; */
        top: 25em;
    }

    .review {
        font-size: 5em;
        /* /* color: white; */
        font-family: 'Roboto';
        /* word-wrap: break-word;
            text-align: center;
            margin: 3em;  */
        padding-top: 4em;
    }

    .rating {
        /* display: flex;
            justify-content: center; */
        font-size: 5em;
        /* width: 100%;
            text-align: center;
            top: 5em;
            gap: 0.5em;
            position: absolute; */
    }

    .username {
        font-size: 2.5em;
        /* color: white; */
        font-family: 'Roboto';
        /* text-align: center; */
        top: 0;
        position: relative;
    }


    .seventhscreen {
        /* background-image: url("assignment/bg5.jpg"); */
        height: 200em;
        width: 70em;
        /* z-index: 7; */
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .dishes,
    .drinks,
    .clients,
    .likes {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1.5em;
        height: 10em;
        top: 0;
        position: relative;
    }

    .seventhscreen p {
        font-size: 14em;
    }

    .seventhscreen h1 {
        font-size: 5em;
    }

    .seventhscreen i {
        color: grey;
        font-size: 8em;
    }


    .eigthscreen {
        height: 310em;
        width: 70em;
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0em;
        padding: 5em;
    }

    .booking {
        /* display: flex;
            flex-direction: column;
            justify-content: center;
            object-position: center; */
        width: 100%;
        top: 0em;
        margin-left: 0;
        position: relative;
    }

    .book {
        /* background-color: #FDB763;
            color: white; */
        /* padding: 0.1; */
        /* border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative; */
        font-size: 3em;
        height: 6em;
        /* width: 100%; */
        top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
    }

    .book a {

        color: white;
        text-decoration: none;
        font-size: 1.6em;
        align-self: center;
    }

    .book p {
        text-align: center;
        font-size: 1.5em;
        align-self: center;
    }

    .bookatable {
        font-size: 7em;
        position: relative;
        text-align: center;
        font-family: 'Roboto';
        margin-bottom: 1em;
    }

    input[type=text],
    textarea {
        font-size: 4em;
        /* resize: none;
            background-color: none;
            opacity: 99%;
            position: relative;
            width: 100%;
            border-color: grey;
            border-width: 0.1em;
            border-left: transparent;
            border-right: transparent; */

    }

    input[type=text] {
        background-color: transparent;
        height: 6em;
    }

    textarea {
        background-color: transparent;
        height: 6em;
        font-family: sans-serif;
    }

    .contact {
        width: 100%;
        position: relative;
        margin-right: 0;
    }

    .contactbrief {
        color: white;
        font-family: 'Roboto';
        top: 0em;
        text-align: center;
        /* padding-top: 6em; */
        /* word-wrap: break-word; */
        font-size: 3.8em;
        /* position: relative; */
    }

    .contactus li {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .contactus ul {
        background-color: transparent;
        /* display: flex;
            flex-direction: column;
            position: relative; */
        top: 0em;
        float: none;
        left: 0;
    }

    .contactus li i {
        font-size: 1.5em;
    }

    .contactus li p {
        font-size: 1.2em;
    }

    footer {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        /* gap: 8em; */
        align-items: center;
        /* position: relative;
            background-color: #252830; */
        height: 80em;
        width: 70em;
        top: 0;
        z-index: 9;
    }

    .smicons {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7em;
        float: none;
        margin-right: 0;
        top: 0em;
        /* align-self: center;
            object-position: center; */
    }

    .smicons a {
        padding: 0.2em;
        color: lightgray;
        text-decoration: none;
        font-size: 8em;
    }

    .footerlogo,
    .designer {
        display: none;
    }

    .cc {
        font-size: 4em;
        text-align: center;
        /* width: 100%; */
    }

}



@media only screen and (min-width: 281px) and (max-width: 426px) {

    header {
        padding: 2em;
        width: 100%;
        height: 12em;
        z-index: 20;
        /* background-color: #252830; */
        overflow-x: hidden;
        align-items: center;
    }

    header a:hover {
        color: rgb(19, 137, 233);
    }

    .logo {
        height: 6em;
        width: 25em;
        position: relative;
        /* left: 2em; */
        float: left;
    }

    .bar {
        display: block;
        width: 4em;
        height: 0.5em;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(19, 137, 233);

    }

    ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #252830;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    ul.active {
        left: 0;
        top: 12em;
    }

    ul li {
        /* margin: 2.5rem 0; */
        margin: 2em;
        font-size: 3em;
    }

    .hamburger {
        /* position: relative; */
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .thirdscreen {
        background-image: url("assignment/checked_menu.jpg");
        background-size: cover;
        /* background-position-x: center;
        /* background-position-y: center; */
        width: 100%;
        height: 100%;
        z-index: -5;
        position: fixed;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    .firstscreen {
        background-image: url("assignment/restaurant.jpg");
        background-position: center;
        /* background-position-y: 10em; */
        background-size: cover;
        position: relative;
        /* display: flex;
        flex-direction: column; */
        width: 108em;
        height: 550em;
        z-index: 2;
        /* position: absolute; */
    }

    .page1 {
        display: flex;
        /* flex-direction: column;   */
    }



    .slogan {
        /* position: relative; */
        width: 100%;
        padding-top: 40em;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50em;

    }

    .Because {
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        font-size: 10em;
    }

    .youre h1,
    .worthit h1 {
        display: none;
    }

    .youreworthit h1 {
        /* display: block; */
        visibility: visible;
        position: relative;
        color: white;
        font-family: sans-serif;
        /* margin: 0;
        padding: 0;
        left: 0; */
        font-size: 10em;

    }


    .stickerflex {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10em;
        padding-top: 50em;
        justify-self: center;

    }

    .sticker1,
    .sticker2,
    .sticker3,
    .sticker4 {
        height: 100em;
        width: 95em;
        padding: 1.5%;
        left: -5em;

    }

    .sticker1pic,
    .sticker2pic,
    .sticker3pic,
    .sticker4pic {
        width: 100%;
        height: 70%;
        position: relative;
        padding: 0.3em;
        margin-top: 0em;

    }

    .sticker1 p,
    .sticker2 p,
    .sticker3 p,
    .sticker4 p {
        font-size: 4em;
        padding-top: 1em;
        font-style: 'Roboto';
    }

    .foodstamp {
        display: none;
    }

    .sticker1 h1,
    .sticker2 h1,
    .sticker3 h1,
    .sticker4 h1 {
        display: none;
        left: 0;
        font-size: 4em;
        padding-top: 0.5em;
        text-align: center;
    }

    .stickerprice {
        display: block;
        font-size: 5em;
    }



    .secondscreen {
        top: -2em;
        width: 108em;
        height: 100em;

    }

    .discover {
        font-size: 8em;
        position: absolute;
    }

    .discoverpic {
        width: 75%;
        height: 15%;
        position: relative;
        object-position: center;
        top: 85%;
    }

    .shortstory {
        object-position: center;
        word-wrap: break-word;
        font-size: 4em;
        height: 40%;
        width: 90%;
        font-family: 'Roboto';
        padding-top: 10%;
    }

    .fourthscreen {
        width: 108em;
        height: 160em;
        top: 0;
        align-content: center;
        flex-direction: column;
        gap: 2em;
        /* object-position: center;
        justify-content: center; */
    }

    .what,
    .enjoy,
    .note,
    .button4 {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        word-wrap: break-word;
        align-items: center;

    }

    .what {
        text-align: center;
        padding-top: 1.5em;
        font-size: 11em;
    }

    .enjoy {
        font-size: 10em;
    }

    .note {
        font-size: 3em;
        padding-top: 4.5em;
    }

    .button4 {
        font-size: 4em;
        align-self: center;
        top: 3em;
        width: 12em;
        height: 8em;
        font-family: 'Roboto';
    }

    .menuitems {

        /* background-image: url("/assignment/checked_menu.jpg");
    */
        width: 90%;
        height: 150em;
        position: relative;
        align-self: center;
        float: right;
        left: 0em;
        top: 15em;
        bottom: 0em;
        border-radius: 10px;
        box-shadow: 15px 15px 15px rgb(44, 27, 10);
        opacity: 1;
        transition: opacity 0.75s ease-in-out;

    }


    .menuitems.fade {
        opacity: 0;
    }

    .fourthscreen.shrink {
        height: 80em;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .menu2 h1,
    .menu2 h2,
    .menu2 p {
        text-align: center;
        align-self: center;
        font-family: sans-serif;
        color: black;
        font-size: 3em;
    }

    .menu2 h2 {
        font-size: 3em;
    }

    .menu2 h1 {
        font-size: 4em;
        padding-bottom: 1em;
    }

    .menupic {
        position: relative;
        width: 50%;
        height: 25%;
        float: right;
        bottom: 5em;
        left: 3em;

    }



    .fifthscreen {
        display: flex;
        /* object-position: center;
        background-color: #FFFBF3; */
        flex-direction: column;
        width: 108em;
        height: 420em;
        top: 25em;
        z-index: 5;
        align-content: center;
        /* align-items: center; */
        justify-content: center;

        /* position: relative; */

    }

    .tiprow1,
    .tiprow2 {
        /* display: flex;
        justify-content: space-evenly; */
        flex-direction: column;
        align-self: center;
        position: relative;
        left: 10em;
        height: 60em;
        width: 70em;
        gap: 10em;
        
    }

    .tiprow2 {
        padding-top: 160em;
    }

    .tips {
        top: 0;
        align-self: center;
        align-items: center;
        position: relative;
        object-position: center;
        width: 100%;
        /* display: block; */
        left: 20%;
    }

    .fifthscreen .tip1,
    .tip2,
    .tip3,
    .tip4,
    .tip5,
    .tip6 {
        /* justify-content: center;
        text-align: center;
        gap: 1em; */
        position: relative;
        width: 60%;
    }

    .fifthscreen p {
        font-family: sans-serif;
        word-wrap: break-word;
        padding-top: 0.6em;
        font-size: 4em;
    }

    .tiphead {
        font-family: Roboto;
        font-size: 6em;
    }

    .tip1img,
    .tip2img,
    .tip3img,
    .tip4img,
    .tip5img,
    .tip6img {
        height: 15em;
        width: 30em;
    }


    .sixthscreen {
        background-size: cover;
        width: 108em;
        height: 120em;
        /* z-index: 6;
            position: relative; */
        top: 25em;
    }

    .review {
        font-size: 5em;
        /* /* color: white; */
        font-family: 'Roboto';
        /* word-wrap: break-word;
            text-align: center;
            margin: 3em;  */
        padding-top: 4em;
    }

    .rating {
        /* display: flex;
            justify-content: center; */
        font-size: 5em;
        /* width: 100%;
            text-align: center;
            top: 5em;
            gap: 0.5em;
            position: absolute; */
    }

    .username {
        font-size: 2.5em;
        /* color: white; */
        font-family: 'Roboto';
        /* text-align: center; */
        top: 0;
        position: relative;
    }


    .seventhscreen {
        /* background-image: url("assignment/bg5.jpg"); */
        height: 200em;
        width: 108em;
        /* z-index: 7; */
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .dishes,
    .drinks,
    .clients,
    .likes {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1.5em;
        height: 10em;
        top: 0;
        position: relative;
    }

    .seventhscreen p {
        font-size: 14em;
    }

    .seventhscreen h1 {
        font-size: 5em;
    }

    .seventhscreen i {
        color: grey;
        font-size: 8em;
    }


    .eigthscreen {
        height: 310em;
        width: 108em;
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0em;
        padding: 5em;
    }

    .booking {
        /* display: flex;
            flex-direction: column;
            justify-content: center;
            object-position: center; */
        width: 100%;
        top: 0em;
        margin-left: 0;
        position: relative;
    }

    .book {
        /* background-color: #FDB763;
            color: white; */
        /* padding: 0.1; */
        /* border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative; */
        font-size: 3em;
        height: 6em;
        /* width: 100%; */
        top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
    }

    .book a {

        color: white;
        text-decoration: none;
        font-size: 1.6em;
        align-self: center;
    }

    .book p {
        text-align: center;
        font-size: 1.5em;
        align-self: center;
    }

    .bookatable {
        font-size: 7em;
        position: relative;
        text-align: center;
        font-family: 'Roboto';
        margin-bottom: 1em;
    }

    input[type=text],
    textarea {
        font-size: 4em;
        /* resize: none;
            background-color: none;
            opacity: 99%;
            position: relative;
            width: 100%;
            border-color: grey;
            border-width: 0.1em;
            border-left: transparent;
            border-right: transparent; */

    }

    input[type=text] {
        background-color: transparent;
        height: 6em;
    }

    textarea {
        background-color: transparent;
        height: 6em;
        font-family: sans-serif;
    }

    .contact {
        width: 100%;
        position: relative;
        margin-right: 0;
    }

    .contactbrief {
        color: white;
        font-family: 'Roboto';
        top: 0em;
        text-align: center;
        /* padding-top: 6em; */
        /* word-wrap: break-word; */
        font-size: 3.8em;
        /* position: relative; */
    }

    .contactus li {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .contactus ul {
        background-color: transparent;
        /* display: flex;
            flex-direction: column;
            position: relative; */
        top: 0em;
        float: none;
        left: 0;
    }

    .contactus li i {
        font-size: 1.5em;
    }

    .contactus li p {
        font-size: 1.2em;
    }

    footer {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        /* gap: 8em; */
        align-items: center;
        /* position: relative;
            background-color: #252830; */
        height: 80em;
        width: 108em;
        top: 0;
        z-index: 9;
    }

    .smicons {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7em;
        float: none;
        margin-right: 0;
        top: 0em;
        /* align-self: center;
            object-position: center; */
    }

    .smicons a {
        padding: 0.2em;
        color: lightgray;
        text-decoration: none;
        font-size: 8em;
    }

    .footerlogo,
    .designer {
        display: none;
    }

    .cc {
        font-size: 4em;
        text-align: center;
        /* width: 100%; */
    }





}



@media only screen and (min-width: 426px) and (max-width: 769px) {

    header {
        padding: 2em;
        width: 100%;
        height: 12em;
        z-index: 20;
        /* background-color: #252830; */
        overflow-x: hidden;
        align-items: center;
    }

    header a:hover {
        color: rgb(19, 137, 233);
    }

    .logo {
        height: 6em;
        width: 25em;
        position: relative;
        /* left: 2em; */
        float: left;
    }

    .bar {
        display: block;
        width: 4em;
        height: 0.5em;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(19, 137, 233);

    }

    ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #252830;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    ul.active {
        left: 0;
        top: 12em;
    }

    ul li {
        /* margin: 2.5rem 0; */
        margin: 2em;
        font-size: 3em;
    }

    .hamburger {
        /* position: relative; */
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .thirdscreen {
        background-image: url("assignment/checked_menu.jpg");
        background-size: cover;
        /* background-position-x: center;
        /* background-position-y: center; */
        width: 100%;
        height: 100%;
        z-index: -5;
        position: fixed;
        overflow-x: hidden;
        background-repeat: no-repeat;
    }

    .firstscreen {
        background-image: url("assignment/restaurant.jpg");
        background-position: center;
        /* background-position-y: 10em; */
        background-size: cover;
        background-position: center;
        position: relative;
        /* display: flex;
        flex-direction: column; */
        width: 3080px;
        height: 150em;
        z-index: 2;
        /* position: absolute; */
    }

    .page1 {
        display: flex;
        /* flex-direction: column;   */
    }



    .slogan {
        /* position: relative; */
        width: 100%;
        padding-top: 40em;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50em;

    }

    .Because {
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        font-size: 10em;
    }

    .youre h1,
    .worthit h1 {
        display: none;
    }

    .youreworthit h1 {
        /* display: block; */
        visibility: visible;
        position: relative;
        color: white;
        font-family: sans-serif;
        /* margin: 0;
        padding: 0;
        left: 0; */
        font-size: 10em;

    }


    .stickerflex {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-top: 50em;
        justify-self: center;

    }

    .sticker1,
    .sticker2,
    .sticker3,
    .sticker4 {
        height: 40em;
        width: 38em;
        padding: 0.3%;
        left: 0em;

    }

    .sticker1pic,
    .sticker2pic,
    .sticker3pic,
    .sticker4pic {
        width: 100%;
        height: 70%;
        position: relative;
        padding: 0.3em;
        margin-top: 0em;

    }

    .sticker1 p,
    .sticker2 p,
    .sticker3 p,
    .sticker4 p {
        font-size: 1.5em;
        padding-top: 1em;
        font-style: 'Roboto';
    }

    .foodstamp {
        display: none;
    }

    .sticker1 h1,
    .sticker2 h1,
    .sticker3 h1,
    .sticker4 h1 {
        display: none;
        left: 0;
        font-size: 4em;
        padding-top: 0.5em;
        text-align: center;
    }

    .stickerprice {
        display: block;
        font-size: 5em;
    }



    .secondscreen {
        top: -2em;
        width: 3080px;
        height: 110em;

    }

    .discover {
        font-size: 8em;
        position: absolute;
    }

    .discoverpic {
        width: 75%;
        height: 25%;
        position: relative;
        object-position: center;
        top: 70%;
    }

    .shortstory {
        object-position: center;
        word-wrap: break-word;
        font-size: 4em;
        height: 40%;
        width: 90%;
        font-family: 'Roboto';
        padding-top: 10%;
    }

    .fourthscreen {
        width: 3080px;
        height: 180em;
        top: 0;
        align-content: center;
        flex-direction: column;
        gap: 2em;
        /* object-position: center;
        justify-content: center; */
    }

    .what,
    .enjoy,
    .note,
    .button4 {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        word-wrap: break-word;
        align-items: center;

    }

    .what {
        text-align: center;
        padding-top: 1.5em;
        font-size: 11em;
    }

    .enjoy {
        font-size: 10em;
    }

    .note {
        font-size: 3em;
        padding-top: 4.5em;
    }

    .button4 {
        font-size: 4em;
        align-self: center;
        top: 3em;
        width: 12em;
        height: 8em;
        font-family: 'Roboto';
    }

    .menuitems {

        background-image: none;
   
        background-color: rgb(26, 16, 12);
        width: 90%;
        height: 150em;
        position: relative;
        align-self: center;
        float: right;
        left: 0em;
        top: 15em;
        bottom: 0em;
        border-radius: 10px;
        box-shadow: 15px 15px 15px rgb(44, 27, 10);
        opacity: 1;
        transition: opacity 0.75s ease-in-out;

    }


    .menuitems.fade {
        opacity: 0;
    }

    .fourthscreen.shrink {
        height: 80em;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .menu2 h1,
    .menu2 h2,
    .menu2 p {
        text-align: center;
        align-self: center;
        font-family: sans-serif;
        color: black;
        font-size: 3em;
    }

    .menu2 h2 {
        font-size: 3em;
    }

    .menu2 h1 {
        font-size: 4em;
        padding-bottom: 1em;
    }

    .menupic {
        position: relative;
        width: 50%;
        height: 25%;
        float: right;
        bottom: 5em;
        left: 3em;

    }



    .fifthscreen {
        display: flex;
        /* object-position: center;
        background-color: #FFFBF3; */
        flex-direction: column;
        width: 3080px;
        height: 200em;
        top: 25em;
        z-index: 5;
        align-content: center;
        /* align-items: center; */
        justify-content: center;

        /* position: relative; */

    }

    .tiprow1,
    .tiprow2 {
        /* display: flex;
        justify-content: space-evenly; */
        flex-direction: row;
        align-self: center;
        position: relative;
        left: 10em;
        height: 60em;
        width: 100em;
        gap: 15em;
        
    }

    .tiprow2 {
        padding-top: 30em;
    }

    .tips {
        top: 0;
        align-self: center;
        align-items: center;
        position: relative;
        object-position: center;
        width: 100%;
        /* display: block; */
        left: 20%;
    }

    .fifthscreen .tip1,
    .tip2,
    .tip3,
    .tip4,
    .tip5,
    .tip6 {
        /* justify-content: center;
        text-align: center;
        gap: 1em; */
        position: relative;
        width: 60%;
    }

    .fifthscreen p {
        font-family: sans-serif;
        word-wrap: break-word;
        padding-top: 0.6em;
        font-size: 4em;
    }

    .tiphead {
        font-family: Roboto;
        font-size: 6em;
    }

    .tip1img,
    .tip2img,
    .tip3img,
    .tip4img,
    .tip5img,
    .tip6img {
        height: 15em;
        width: 30em;
    }


    .sixthscreen {
        background-size: cover;
        width: 3080px;
        height: 120em;
        /* z-index: 6;
            position: relative; */
        top: 25em;
    }

    .review {
        font-size: 5em;
        /* /* color: white; */
        font-family: 'Roboto';
        /* word-wrap: break-word;
            text-align: center;
            margin: 3em;  */
        padding-top: 4em;
    }

    .rating {
        /* display: flex;
            justify-content: center; */
        font-size: 5em;
        /* width: 100%;
            text-align: center;
            top: 5em;
            gap: 0.5em;
            position: absolute; */
    }

    .username {
        font-size: 2.5em;
        /* color: white; */
        font-family: 'Roboto';
        /* text-align: center; */
        top: 0;
        position: relative;
    }


    .seventhscreen {
        /* background-image: url("assignment/bg5.jpg"); */
        height: 200em;
        width: 3080px;
        /* z-index: 7; */
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .dishes,
    .drinks,
    .clients,
    .likes {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1.5em;
        height: 10em;
        top: 0;
        position: relative;
    }

    .seventhscreen p {
        font-size: 14em;
    }

    .seventhscreen h1 {
        font-size: 5em;
    }

    .seventhscreen i {
        color: grey;
        font-size: 8em;
    }


    .eigthscreen {
        background-size: cover;
        height: 310em;
        width: 3080px;
        top: 25em;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0em;
        padding: 5em;
    }

    .booking {
        /* display: flex;
            flex-direction: column;
            justify-content: center;
            object-position: center; */
        width: 100%;
        top: 0em;
        margin-left: 0;
        position: relative;
    }

    .book {
        /* background-color: #FDB763;
            color: white; */
        /* padding: 0.1; */
        /* border: none;
            border-radius: 4px;
            cursor: pointer;
            position: relative; */
        font-size: 3em;
        height: 6em;
        /* width: 100%; */
        top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
    }

    .book a {

        color: white;
        text-decoration: none;
        font-size: 1.6em;
        align-self: center;
    }

    .book p {
        text-align: center;
        font-size: 1.5em;
        align-self: center;
    }

    .bookatable {
        font-size: 7em;
        position: relative;
        text-align: center;
        font-family: 'Roboto';
        margin-bottom: 1em;
    }

    input[type=text],
    textarea {
        font-size: 4em;
        /* resize: none;
            background-color: none;
            opacity: 99%;
            position: relative;
            width: 100%;
            border-color: grey;
            border-width: 0.1em;
            border-left: transparent;
            border-right: transparent; */

    }

    input[type=text] {
        background-color: transparent;
        height: 6em;
    }

    textarea {
        background-color: transparent;
        height: 6em;
        font-family: sans-serif;
    }

    .contact {
        width: 100%;
        position: relative;
        margin-right: 0;
    }

    .contactbrief {
        color: white;
        font-family: 'Roboto';
        top: 0em;
        text-align: center;
        /* padding-top: 6em; */
        /* word-wrap: break-word; */
        font-size: 3.8em;
        /* position: relative; */
    }

    .contactus li {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .contactus ul {
        background-color: transparent;
        /* display: flex;
            flex-direction: column;
            position: relative; */
        top: 0em;
        float: none;
        left: 0;
    }

    .contactus li i {
        font-size: 1.5em;
    }

    .contactus li p {
        font-size: 1.2em;
    }

    footer {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        /* gap: 8em; */
        align-items: center;
        /* position: relative;
            background-color: #252830; */
        height: 80em;
        width: 3080px;
        top: 0;
        z-index: 9;
    }

    .smicons {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7em;
        float: none;
        margin-right: 0;
        top: 0em;
        /* align-self: center;
            object-position: center; */
    }

    .smicons a {
        padding: 0.2em;
        color: lightgray;
        text-decoration: none;
        font-size: 8em;
    }

    .footerlogo,
    .designer {
        display: none;
    }

    .cc {
        font-size: 4em;
        text-align: center;
        /* width: 100%; */
    }





}