<html lang="en">

  <%- include('./partials/head.ejs') %>

<body class="contactbody">

  <div class="about-header">
    <a class="about-back" href="/">Back to Home</a>
    <a class="about-back" href="/about">About Us</a>

  </div>
  <p class="contact-note">Kindly leave us a comment</p>

  <div class="form-holder">
    <form class="newreview" action="/contacts" method="POST">
      <input class="field" type="text" name="fullName" placeholder="Full Name" maxlength="20">
      <input class="field" type="text" name="city" placeholder="City" maxlength="20">
      <textarea class="commentfield" type="text" name="comment" placeholder="Leave a comment about our service"
        maxlength="100"></textarea>
      <!-- <p>Rate us</p> -->
      <div class="rating-star">

        <input id="star-set" type="radio" class="fa fa-star"  name="rating" value="1"></input>
        <!-- <label class="newstars" for="star-set"><i class="fa fa-star"></i></label> -->
        <input id="star-set" type="radio" class="fa fa-star" name="rating" value="2"></input>
        <!-- <label class="newstars" for="star-set"><i class="fa fa-star"></i></label> -->
        <input id="star-set" type="radio" class="fa fa-star" name="rating" value="3"></input>
        <!-- <label class="newstars" for="star-set"><i class="fa fa-star"></i></label> -->
        <input id="star-set" type="radio" class="fa fa-star" name="rating" value="4"></input>
        <!-- <label class="newstars" for="star-set"><i class="fa fa-star"></i></label> -->
        <input id="star-set" type="radio" class="fa fa-star" name="rating" value="5"></input>
        <!-- <label class="newstars" for="star-set"><i class="fa fa-star"></i></label> -->
    
      </div>

      <br>
      <button class="submit" value="Submit">
        <p>Submit</p>
      </button>

    </form>



  </div>


</body>

</html>