<html lang="en">

  <%- include('./partials/head.ejs') %>

<body class="contactbody">

  <div class="about-header">
    <a class="about-back" href="/">Back to Home</a>
    <a class="about-back" href="/about">About Us</a>

  </div>
  <p class="contact-note">Kindly leave us a comment</p>

  <div class="form-holder">
    <form class="newreview" action="/contacts" method="POST">
      <input class="field" type="text" name="fullName" placeholder="Full Name" maxlength="20">
      <input class="field" type="text" name="city" placeholder="City" maxlength="20">
      <textarea class="commentfield" type="text" name="comment" placeholder="Leave a comment about our service"
        maxlength="100"></textarea>
      <input class="field" type="number" name="rating" placeholder="Rate us out of 5" max="5">

      <br>
      <button class="submit" value="Submit">
        <p>Submit</p>
      </button>

    </form>



  </div>


</body>

</html>