<html lang="en">

  <%- include('./partials/head.ejs') %>

<body class="submitted-body">

  <div class="about-header">
    <a class="about-back" href="/">Back to Home</a>
    <a class="about-back" href="/contact">Contact Us</a>
    <a class="about-back" href="/about">About Us</a>
  </div>

  <div class="submit-note">
    <h1 class="thanks">This page cannot be found</h1>


  </div>




</body>

</html>