<html lang="en">
  <%- include('./partials/head.ejs') %>
    
    <body class="submitted-body">

      <div class="about-header">
        <a class="about-back" href="/">Back to Home</a>
        <a class="about-back" href="/contact">Contact Us</a>
        <a class="about-back" href="/about">About Us</a>
     </div>

     <div class="submit-note">
     <p class="thanks">Thank you for your contacting us.</p>
     <p class="thanks">We are delighted to see you again!</p>
    
    </div>
     
   

      
    </body>
    </html>